header{
    background-color: #cccccc;
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 130px;   
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.principal{
    padding: 15px 0;
}

.formulario{
    margin: 20px 0;
}

.enviar{
    padding: 10px 0;
    font-size: 10px;
    font-weight: bold;
    color: white;
    background: black;
    border: none;
    border-radius: 10px;
    transition: 1.5s all;
    cursor: pointer;
}

.enviar:hover{
    background: #cccccc;
    color: black;
    transform: scale(1.2);
}
